.splash__container {
  margin: 75px 0;
}

.splash__row {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  justify-content: space-between;
}

.splash__box--semiwide {
  flex: 0 0 49%;
  height: 50%;

  a {
    display: flex;
    height: 100%;
    justify-content: center;
    }

  h1 {
    align-self: center;
    justify-content: center;
    position: absolute;
    font-weight: bold;
    color: $color-light;
    transition: 1s;
  }

  &:hover h1 {
    transform: translateY(-35%);
  }

  img {
    object-fit: cover;
    height: 120px;  
    width: 100%;
    }
} 

.splash__box--wide {
  flex: 0 0 100%;
  align-self: center;
  background-color: $color-main;
  color: $color-light;
  margin-top: 12px;
}